body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

input, textarea {
  width: 90%;
  margin: 5px;
  padding: 8px;
}

button {
  background: blue;
  color: white;
  padding: 10px;
}
